<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
            type="url" 
            name="avatar_url"
            placeholder="http://minhaimagem.com"
            value="{{ student.avatar_url }}"
        >
    </div>
</div>

<div class="item">
    <div>Nome</div>
    <div>
        <input 
            type="text" 
            name="name"
            placeholder="Nome do Aluno(a)"
            value="{{ student.name }}"
        >
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input 
            type="email" 
            name="email"
            placeholder="Email do aluno"
            value="{{student.email}}"    
        >
    </div>
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input 
            type="date" 
            name="birth"
            value="{{ student.birth }}"
        >
    </div>
</div>

<div class="item">
    <div>Ano escolar</div>
    <div>
        <select name="degree">
            <option 
                value="5ano" 
                {% if student.degree == '5ano'%} 
                    selected
                {%endif%}
                >5 ano
            </option>
            <option 
                value="6ano"
                {% if student.degree == '6ano'%} 
                    selected
                {%endif%}
                >6 ano
            </option>
            <option 
                value="7ano"
                {% if student.degree == '7ano'%} 
                    selected
                {%endif%}
                >7 ano
            </option>
            <option 
                value="8ano"
                {% if student.degree == '8ano'%} 
                    selected
                {%endif%}
                >8 ano
            </option>
            <option 
                value="9ano"
                {% if student.degree == '9ano'%} 
                    selected
                {%endif%}
                >9 ano
            </option>
            <option 
                value="1col"
                {% if student.degree == '1col'%} 
                    selected
                {%endif%}
                >1 colegial
            </option>
            <option 
                value="2col"
                {% if student.degree == '2col'%} 
                    selected
                {%endif%}
                >2 colegial
            </option>
            <option 
                value="3col"
                {% if student.degree == '3col'%} 
                    selected
                {%endif%}
                >3 colegial
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Carga Horaria Semanal</div>
    <div>
        <input 
            type="number" 
            name="workload"
            placeholder="Quantidade de horas de aulas"
            value="{{student.workload}}"  
        >
    </div>
</div>

<button type="submit">Salvar</button>