@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-darkgrey: #282a36;
    --color-lightgrey: #777;
    --color-white: #F0F0F2;
    --color-orange: #F27405;
    --color-darkorange: #F25C05;
    --color-darkestorange: #D93D04;
    --color-brown: #591202;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--color-darkgrey);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #414450;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box; /* Faz com que leve o conteudo ate o limite do conteudo */
}

.links {
    font-size: 22px;
}

/* Pegue o a que seja precedido de outro a */
.links a + a { 
    margin-left: 32px;
}

.links a{
    text-decoration: none;
    color: var(--color-orange);
    position: relative;
}

/* Quando links a tiver com a classe active (estar na pagina) */
.links a.active {
    font-weight: bold;
    color: var(--color-darkestorange);
}

.links a:hover {
    color: var(--color-darkestorange);
}

.links a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brown);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: width;
}

/* Pseudo elemento */
.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* ======= CARDS ======= */
.card {
    background-color: white;
    width: 800px;
    min-height: 400px;

    margin: 45px auto;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    animation: up 200ms ease-in-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

.details {
    padding: 32px;

}

.details .item {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
}

.details .item:first-child{
    border: none;
}

.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-lightgrey);
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: var(var(--color-darkgrey));
    font-weight: bold;
    font-size: 18px;
}

.details .item:last-child div:nth-child(1){
    color: var(--color-darkestorange);
    font-weight: bold;
}

.details .item:last-child div:nth-child(2){
    padding: 8px 16px;
    background-color: var(--color-darkorange);
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--color-orange);
    border-radius: 16px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* ======== FORM ======== */
input, select {
    width: 100%;
    outline: none;
    color: var(--color-lightgrey);
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    padding: 8px 32px; /* 8px em cima e embaixo, 32px nas laterais */
    background-color: var(--color-orange);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
}

a.button {
    display:block; /* ocupar linha toda */
    box-sizing: border-box; /* Respeitar limite da box */
    text-align: center;
    text-decoration: none;
}

#form-delete button[type="submit"] {
    background-color: lightcoral;

}

.botButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

/* ======== INDEX.INSTRUCTORS ======== */
.table-container {
    display:block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th,
.table-container tbody tr td  {
    text-align: center;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

th {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

tbody tr:last-child td{
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a,
.table-container > a {
    background-color: var(--color-darkorange);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

.table-container > a {
    margin-bottom: 16px;
    display: inline-block;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

.teachersSubjects{
    padding: 8px 16px;
    background-color: var(--color-orange);
    border-radius: 16px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}