<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
            type="url" 
            name="avatar_url"
            placeholder="http://minhaimagem.com"
            value="{{ teacher.avatar_url }}"
        >
    </div>
</div>

<div class="item">
    <div>Nome</div>
    <div>
        <input 
            type="text" 
            name="name"
            placeholder="Nome do Professor"
            value="{{ teacher.name }}"
        >
    </div>
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input 
            type="date" 
            name="birth"
            value="{{ teacher.birth }}"
        >
    </div>
</div>

<div class="item">
    <div>Grau de Escolaridade</div>
    <div>
        <select name="degree">
            <option 
                value="EMC" 
                {% if teacher.degree == 'EMC'%} 
                    selected
                {%endif%}
                >Ensino Medio Completo
            </option>
            <option 
                value="ESC"
                {% if teacher.degree == 'ESC'%} 
                    selected
                {%endif%}
                >Ensino Superior Completo
            </option>
            <option 
                value="M"
                {% if teacher.degree == 'M'%} 
                    selected
                {%endif%}
                >Mestrado
            </option>
            <option 
                value="DR"
                {% if teacher.degree == 'DR'%} 
                    selected
                {%endif%}
                >Doutorado
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Tipo de Aula</div>
    <div>
        <span>
            <input 
                type="radio" 
                name="type" 
                value="P"
                {% if teacher.type == 'P'%} 
                    checked
                {%endif%}
            >Presencial
        </span>
        <span>
            <input 
                type="radio" 
                name="type" 
                value="D"
                {% if teacher.type == 'D'%} 
                    checked
                {%endif%}
            >À Distância
        </span>
    </div>
</div>

<div class="item">
    <div>Area de Atuação</div>
    <div>
        <input 
            type="text" 
            name="subjects"
            placeholder="Separe as matérias lecionadas por virgula"
            value="{{ teacher.subjects}}"
        >
    </div>
</div>

<button type="submit">Salvar</button>